# DATABASE
DATABASE_URL=

# AUTHENTICATION SERVICE
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# PAYMENT GATEWAY
PAYMENT_GATEWAY_PRO_PLAN_PRICE_ID=
PAYMENT_GATEWAY_SECRET_KEY=
NEXT_PUBLIC_PAYMENT_GATEWAY_PUBLISHABLE_KEY=
PAYMENT_GATEWAY_WEBHOOK_SECRET=